/*GENERAL*/

* {
    padding: 0;
    margin:0;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* MENU*/
#side {
    width: 150px;
    margin: 0 auto;

}

.menu a {
    border-bottom: 1px solid #fff;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: block;
    padding: 10px 0 10px 25px;

}

.menu___list {
    position: relative;
}
.menu___drop {
    position: absolute;
    width: 100%;
    opacity: 0;
}
.active {
    opacity: 1;
}



/*ICON*/
.menu___list::after {
    content: "";
    position: absolute;
    border: 8px solid;
    border-color: #fff transparent transparent transparent ;
    top:15px;
    transition: 0.5s;
}
.menu___list:hover::after {
    transform: scaleY(-1);
}

.menu a:hover{
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s all;
    padding: 10px 0 10px 20px;
    cursor: pointer;
}

.menu___list:hover .menu___drop {
     opacity: 1;

 }